@using System.Linq
@model ModbusMaster.Client.Models.User.UserListViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (!Model.UserIndexViewModels.Any())
{
    <h3>There are no users</h3>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                <label asp-for="@Model.UserIndexViewModels.First().Username"></label>
            </th>
            <th>
                <label asp-for="@Model.UserIndexViewModels.First().Role"></label>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var user in Model.UserIndexViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => user.Username)
                </td>
                <td>
                    @Html.DisplayFor(model => user.Role)
                </td>
                <td>
                    <a asp-action="Remove" asp-route-key="@user.Username">Remove</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
