@using ModbusMaster.Domain.Entities
@model ModbusMaster.Client.Models.Modbus.ChannelsListViewModel

<script src="~/js/bootstrap.tree.js"></script>
<script>TreeViewInit();</script>

<div class="tree">
    <ul>
        @foreach (var channel in Model.ChannelIndexViewModels)
        {
            <li>
                <span>@channel.Title</span>&nbsp;<a asp-action="ChannelDetails">Details</a>&nbsp;<a asp-action="ChannelRemove" asp-route-id="@channel.Id">Delete</a>
                <ul>
                    @foreach (var device in channel.DevicesListViewModel.DeviceIndexViewModels)
                    {
                        <li>
                            <span>@device.Title</span>&nbsp;<a asp-action="DeviceDetails">Details</a>&nbsp;<a asp-action="DeviceRemove" asp-route-id="@device.Id">Delete</a>
                            <ul>
                                @foreach (var register in device.RegistersListViewModel.RegisterIndexViewModels)
                                {
                                    <li>
                                        <span>@register.Title</span>&nbsp;<a asp-action="RegisterDetails">Details</a>&nbsp;<a asp-action="RegisterRemove" asp-route-id="@register.Id">Delete</a>
                                    </li>
                                }
                                <li>
                                    <a href="#" onclick="LoadRegisterCreateForm(@device.Id)"><span>Create register</span></a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="#" onclick="LoadDeviceCreateForm(@channel.Id)"><span>Create device</span></a>
                    </li>
                </ul>
            </li>
        }
        <li>
            <a href="#" onclick="LoadChannelCreateForm()"><span>Create channel</span></a>
        </li>
    </ul>
</div>
