@using ModbusMaster.Domain.Entities
@model ModbusMaster.Client.Models.Modbus.RegisterCreateViewModel

<h2>@Model.DeviceTitle: Create new register</h2>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="@Url.Action("RegisterCreate")" data-ajax-update="#_FormPartial" data-ajax-complete="LoadConfig">
    @Html.HiddenFor(model => model.DeviceId)
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="col-sm">
            @Html.DropDownListFor(model => model.Type, @Html.GetEnumSelectList<RegisterType>(), new { @class = "form-control" })
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="col-sm">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Offset)
        </div>
        <div class="col-sm">
            @Html.TextBoxFor(model => model.Offset, new { type = "number", @class = "form-control" })
            <span asp-validation-for="Offset" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="col-sm">
            @Html.TextBoxFor(model => model.Count, new { type = "number", @class = "form-control" })
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
